extends layout
block content
    .container

        h1= title

        span(id="count") 
        
        table.table.table-striped
            thead.thead-default
                tr
                    th Ref
                    th Status
                    th Name
                    th DXCC
                    th Region
                    th Notes
                tr
                    th
                        input(type="search" name="search-ref" id="Ref" class="search")
                    th
                        input(type="search" name="search-status" id="Status" class="search")
                    th
                        input(type="search" name="search-name" id="Name" class="search")
                    th
                        input(type="search" name="search-dxcc" id="DXCC" class="search")
                    th
                        input(type="search" name="search-region" id="Region" class="search")
                    th
                        input(type="search" name="search-notes" id="Notes" class="search")

            tbody(id="update")
                - for (i=0; i<docs.length; i++) {
                    tr
                        - if (docs[i].Status == 'deleted') {
                            td.ref.deleted #{docs[i].Ref}
                            td.deleted #{docs[i].Status}
                            td.deleted #{docs[i].Name}
                            td.deleted #{docs[i].DXCC}
                            td.deleted #{docs[i].Region}
                            td.deleted #{docs[i].Notes}
                        - } else {
                            td.ref #{docs[i].Ref}
                            td #{docs[i].Status}
                            td #{docs[i].Name}
                            td #{docs[i].DXCC}
                            td #{docs[i].Region}
                            td #{docs[i].Notes}
                        - }
                - }
                
    script.

        var searchFields = { Ref: null,
                             Status: null,
                             Name: null,
                             DXCC: null,
                             Region: null,
                             Notes: null
                            };

        $('.search').keyup(function(e){
            // Ignore Tab (9) and Shift (6)
            if ( e.keyCode == 9 || e.keyCode == 16 ) {
                return;    
            }

            // Get the id of the search field that's being typed in.
            var searchId = $(this).attr('id');

            // The string that we're searching for
            var searchString = $(this).val();

            searchFields[searchId] = searchString; 

            console.log(searchFields);

            // Read in the results from the mongodb query and turn them into a JSON string
            var data = !{JSON.stringify(docs)};
            var output;

            // Create a case insensitive regex object from the search string
            var myExp = new RegExp(searchString, 'i');

            var deleted = '';

            // If the search string is empty, then update the content element with the full listing
            if (searchString == '') {
                for (i = 0; i < data.length; i++) {

                    // Add the deleted CSS class if the row is marked as deleted
                    if (data[i].Status == 'deleted') {
                        deleted = ' class="deleted"';
                    } else {
                        deleted = '';    
                    }
                    output += '<tr>';
                    output += '<td' + deleted + ' class="ref">' + data[i].Ref + '</td>';
                    output += '<td' + deleted + '>' + data[i].Status + '</td>';
                    output += '<td' + deleted + '>' + data[i].Name + '</td>';
                    output += '<td' + deleted + '>' + data[i].DXCC + '</td>';
                    output += '<td' + deleted + '>' + data[i].Region + '</td>';
                    output += '<td' + deleted + '>' + data[i].Notes + '</td>';
                    output += '</tr>';
                    deleted = '';
                    resultsCount = 0;
                }
                $('#update').html(output);
                $('#count').html('');

            // If the search string is not null, then filter the results 
            } else {
                var count = 0;
                var resultsCount = 0;
                for (i = 0; i < data.length; i++) {

                   // Loop through the rows of data and search for the search string
                   if (data[i][searchId] && (data[i][searchId].search(myExp) !== -1)) {

                        // Add the deleted CSS class if the row is marked as deleted
                        if (data[i].Status == 'deleted') {
                            deleted = ' class="deleted"';
                        } else {
                            deleted = '';    
                        }
                        output += '<tr>';
                        output += '<td' + deleted + ' class="ref">' + data[i].Ref + '</td>';
                        output += '<td' + deleted + '>' + data[i].Status + '</td>';
                        output += '<td' + deleted + '>' + data[i].Name + '</td>';
                        output += '<td' + deleted + '>' + data[i].DXCC + '</td>';
                        output += '<td' + deleted + '>' + data[i].Region + '</td>';
                        output += '<td' + deleted + '>' + data[i].Notes + '</td>';
                        output += '</tr>';
                        deleted = '';

                        resultsCount++;
                    } else {
                        count++;
                        // If we've looped through the entire data set without finding a match, then tell the user.
                        if(count === data.length){
                            output = '<tr><td colspan="6"><center>No results.</center></td></tr>';
                            resultsCount = 0;
                        }
                    }
                }
                $('#update').html(output);
                $('#count').html(resultsCount + ' Results');
            }
        });
