extends layout
block content
    style.
        td,th{
            width: auto;
        }
    .container

        h1= title

        span(id="count") #{docs.length} Results

        div(style="float: right")
            a(id="clearSearch" role="button").btn.btn-primary.btn-sm Clear Search
        table.table.table-striped
            thead.thead-default
                tr
                    th Ref
                    th Status
                    th Name
                    th DXCC
                    th Region
                    th Notes
                tr
                    th
                        input(type="search" name="search-ref" id="Ref" class="search")
                    th
                        input(type="search" name="search-status" id="Status" class="search")
                    th
                        input(type="search" name="search-name" id="Name" class="search")
                    th
                        input(type="search" name="search-dxcc" id="DXCC" class="search")
                    th
                        input(type="search" name="search-region" id="Region" class="search")
                    th
                        input(type="search" name="search-notes" id="Notes" class="search")

            tbody(id="update")
                - for (i=0; i<docs.length; i++) {
                    tr
                        - if (docs[i].Status == 'deleted') {
                            td.ref.deleted #{docs[i].Ref}
                            td.deleted #{docs[i].Status}
                            td.deleted #{docs[i].Name}
                            td.deleted #{docs[i].DXCC}
                            td.deleted #{docs[i].Region}
                            td.deleted #{docs[i].Notes}
                        - } else {
                            td.ref #{docs[i].Ref}
                            td #{docs[i].Status}
                            td #{docs[i].Name}
                            td #{docs[i].DXCC}
                            td #{docs[i].Region}
                            td #{docs[i].Notes}
                        - }
                - }
                
    script.

        var searchFields = { Ref: '',
                             Status: '',
                             Name: '',
                             DXCC: '',
                             Region: '',
                             Notes: ''
                            };

        $('#clearSearch').click(function() { 
            $('#Ref').val('');
            $('#Status').val('');
            $('#Name').val('');
            $('#DXCC').val('');
            $('#Region').val('');
            $('#Notes').val('');

            var data = !{JSON.stringify(docs)};
            var output = {};
            var deleted = '';
            var count = 0;
            var resultsCount = 0;

            searchFields = { Ref: '',
                             Status: '',
                             Name: '',
                             DXCC: '',
                             Region: '',
                             Notes: ''
                            };

            for (i = 0; i < data.length; i++) {

                // Add the deleted CSS class if the row is marked as deleted
                if (data[i].Status == 'deleted') {
                    deleted = ' class="deleted"';
                } else {
                    deleted = '';    
                }
                output += '<tr>';
                output += '<td' + deleted + ' class="ref">' + data[i].Ref + '</td>';
                output += '<td' + deleted + '>' + data[i].Status + '</td>';
                output += '<td' + deleted + '>' + data[i].Name + '</td>';
                output += '<td' + deleted + '>' + data[i].DXCC + '</td>';
                output += '<td' + deleted + '>' + data[i].Region + '</td>';
                output += '<td' + deleted + '>' + data[i].Notes + '</td>';
                output += '</tr>';
                deleted = '';
                resultsCount++;
            }
            $('#update').html(output);
            $('#count').html(resultsCount + ' Results');
        });

        $('.search').keyup(function(e){
            // Ignore Tab (9) and Shift (6)
            if ( e.keyCode == 9 || e.keyCode == 16 ) {
                return;    
            }

            // Get the id of the search field that's being typed in.
            var searchId = $(this).attr('id');

            // The string that we're searching for
            var searchString = $(this).val();

            // Create a case insensitive regex object from the search string
            searchFields[searchId] = searchString == '' ? '' : new RegExp(searchString, 'i'); 

            // Read in the results from the mongodb query and turn them into a JSON string
            var data = !{JSON.stringify(docs)};

            var output = {};

            var deleted = '';

            // If the search string is empty, then update the content element with the full listing
            if (!searchFields.Ref && !searchFields.Status && !searchFields.Name && !searchFields.DXCC && !searchFields.Region && !searchFields.Notes) {
                resultsCount = 0;
                for (i = 0; i < data.length; i++) {

                    // Add the deleted CSS class if the row is marked as deleted
                    if (data[i].Status == 'deleted') {
                        deleted = ' class="deleted"';
                    } else {
                        deleted = '';    
                    }
                    output += '<tr clas="row">';
                    output += '<td' + deleted + ' class="ref">' + data[i].Ref + '</td>';
                    output += '<td' + deleted + '>' + data[i].Status + '</td>';
                    output += '<td' + deleted + '>' + data[i].Name + '</td>';
                    output += '<td' + deleted + '>' + data[i].DXCC + '</td>';
                    output += '<td' + deleted + '>' + data[i].Region + '</td>';
                    output += '<td' + deleted + '>' + data[i].Notes + '</td>';
                    output += '</tr>';
                    deleted = '';
                    resultsCount++;
                }
                $('#update').html(output);
                $('#count').html(resultsCount + ' Results');

            // If the search string is not null, then filter the results 
            } else {
                var count = 0;
                var resultsCount = 0;
                for (i = 0; i < data.length; i++) {

                   // Loop through the rows of data and search for the search string
                   if (
                       ((data[i].Ref.search(searchFields.Ref) !== -1)) && 
                       ((data[i].Status.search(searchFields.Status) !== -1)) &&
                       ((data[i].Name.search(searchFields.Name) !== -1)) && 
                       ((data[i].DXCC.search(searchFields.DXCC) !== -1)) && 
                       ((data[i].Region.search(searchFields.Region) !== -1)) && 
                       ((data[i].Notes.search(searchFields.Notes) !== -1))
                      ) {

                        // Add the deleted CSS class if the row is marked as deleted
                        if (data[i].Status == 'deleted') {
                            deleted = ' class="deleted"';
                        } else {
                            deleted = '';    
                        }
                        output += '<tr>';
                        output += '<td' + deleted + ' class="ref">' + data[i].Ref + '</td>';
                        output += '<td' + deleted + '>' + data[i].Status + '</td>';
                        output += '<td' + deleted + '>' + data[i].Name + '</td>';
                        output += '<td' + deleted + '>' + data[i].DXCC + '</td>';
                        output += '<td' + deleted + '>' + data[i].Region + '</td>';
                        output += '<td' + deleted + '>' + data[i].Notes + '</td>';
                        output += '</tr>';
                        deleted = '';

                        resultsCount++;
                    } else {
                        count++;
                        // If we've looped through the entire data set without finding a match, then tell the user.
                        if(count === data.length){
                            output = '<tr><td colspan="6"><center>No results.</center></td></tr>';
                            resultsCount = 0;
                        }
                    }
                }
                $('#update').html(output);
                $('#count').html(resultsCount + ' Results');
            }
        });
