extends layout
block content
    style.
        td,th{
            width: auto;
        }
    .container

        h1= title

        span(id="count") #{docs.length} Results

        div(style="float: right")
            a(id="clearSearch" role="button").btn.btn-primary.btn-sm Clear Search
        table.table.table-striped
            thead.thead-default
                tr
                    th Ref
                    th Name
                    th Location
                    th Type 
                tr
                    th
                        input(type="search" name="search-ref" id="Ref" class="search")
                    th
                        input(type="search" name="search-name" id="Name" class="search")
                    th
                        input(type="search" name="search-location" id="Location" class="search")
                    th
                        input(type="search" name="search-type" id="Type" class="search")

            tbody(id="update")
                - for (i=0; i<docs.length; i++) {
                    tr
                        td.ref #{docs[i].Ref}
                        td #{docs[i].Name}
                        td #{docs[i].Location}
                        td #{docs[i].Type}
                - }
                
    script.

        var searchFields = { Ref: '',
                             Name: '',
                             Location: '',
                             Type: ''
                            };

        $('#clearSearch').click(function() { 
            $('#Ref').val('');
            $('#Name').val('');
            $('#Location').val('');
            $('#Type').val('');

            var data = !{JSON.stringify(docs)};
            var output = {};
            var count = 0;
            var resultsCount = 0;

            searchFields = { Ref: '',
                             Name: '',
                             Location: '',
                             Type: ''
                            };

            for (i = 0; i < data.length; i++) {

                output += '<tr>';
                output += '<td class="ref">' + data[i].Ref + '</td>';
                output += '<td>' + data[i].Name + '</td>';
                output += '<td>' + data[i].Location + '</td>';
                output += '<td>' + data[i].Type + '</td>';
                output += '</tr>';
                resultsCount++;
            }
            $('#update').html(output);
            $('#count').html(resultsCount + ' Results');
        });

        $('.search').keyup(function(e){
            // Ignore Tab (9) and Shift (6)
            if ( e.keyCode == 9 || e.keyCode == 16 ) {
                return;    
            }

            // Get the id of the search field that's being typed in.
            var searchId = $(this).attr('id');

            // The string that we're searching for
            var searchString = $(this).val();

            // Create a case insensitive regex object from the search string
            searchFields[searchId] = searchString == '' ? '' : new RegExp(searchString, 'i'); 

            // Read in the results from the mongodb query and turn them into a JSON string
            var data = !{JSON.stringify(docs)};

            var output = {};

            // If the search string is empty, then update the content element with the full listing
            if (!searchFields.Ref && !searchFields.Name && !searchFields.Location && !searchFields.Type) {
                resultsCount = 0;
                for (i = 0; i < data.length; i++) {

                    output += '<tr clas="row">';
                    output += '<td>' + data[i].Ref + '</td>';
                    output += '<td>' + data[i].Name + '</td>';
                    output += '<td>' + data[i].Location + '</td>';
                    output += '<td>' + data[i].Type + '</td>';
                    output += '</tr>';
                    resultsCount++;
                }
                $('#update').html(output);
                $('#count').html(resultsCount + ' Results');

            // If the search string is not null, then filter the results 
            } else {
                var count = 0;
                var resultsCount = 0;
                for (i = 0; i < data.length; i++) {

                   // Loop through the rows of data and search for the search string
                   if (
                       ((data[i].Ref.search(searchFields.Ref) !== -1)) && 
                       ((data[i].Name.search(searchFields.Name) !== -1)) && 
                       ((data[i].Location.search(searchFields.Location) !== -1)) && 
                       ((data[i].Type.search(searchFields.Type) !== -1))
                      ) {

                        output += '<tr>';
                        output += '<td class="ref">' + data[i].Ref + '</td>';
                        output += '<td>' + data[i].Name + '</td>';
                        output += '<td>' + data[i].Location + '</td>';
                        output += '<td>' + data[i].Type + '</td>';
                        output += '</tr>';

                        resultsCount++;
                    } else {
                        count++;
                        // If we've looped through the entire data set without finding a match, then tell the user.
                        if(count === data.length){
                            output = '<tr><td colspan="6"><center>No results.</center></td></tr>';
                            resultsCount = 0;
                        }
                    }
                }
                $('#update').html(output);
                $('#count').html(resultsCount + ' Results');
            }
        });
